name: Renovate

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main

jobs:
  scan-dep:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      checks: write
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Renovate Bot GitHub Action
        uses: renovatebot/github-action@v46.1.0
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: ".github/renovate.json"
        env:
          LOG_LEVEL: "debug"
